.columTopic .iconTop{
    background: none;
    height: 10vh;
    color: aliceblue;
    border: none;
    font-size: larger;
}

.columTopic .iconBottom{
    background: none;
    height: 10vh;
    color: aliceblue;
    border: none;
    font-size: larger;
}
