.columTopic {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 20%;
}



.columTopic .tamanho {
    display: flex;
    justify-content: center;
    height: 80vh;
    overflow-y: hidden;
}
.columTopic .tamanho .topicos {
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 100%; 
    transition: transform 0.3s ease;
    margin: 0;  
    padding: 0;  
}


.cube {
    position: relative; 
    width: 100px;
    height: 25px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg) rotateY(300deg);
    margin: 38vh 0; 
    flex-shrink: 0; 
    transition: all 2s ease;
}

.cube:hover{
    animation: animate 3s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotateX(-30deg) rotateY(300deg);
    } 100% {
        transform: rotateX(-30deg) rotateY(120deg);
    }
}

.cube .box{
    position: absolute;
    top: 37.5px;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 2s ease;
}

.cube:hover .box{
    top: 0px;
}

.cube .box span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#3229C9, #8035DB);
    transform-style: preserve-3d;
    transform: rotateY(calc(90deg * var(--i))) translateZ(50px);
}

.top {
    position: absolute;
    top: 37.5px;
    left: 0;
    width: 100px;
    height: 100px;
    background: #221ab9;
    transform-style: preserve-3d;
    transform: rotateX(90deg) translateZ(50px);
    transition: all 2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top h1{
    color: #fff;
    transform: rotate(-90deg);
}

.cube:hover .top {
    top: 0;
}

.cube:hover .top::before{
    transform: translateZ(-75px);
}

.top::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
    background: #3c0d75;
    transform: translateZ(-25px);
    opacity: 0.75; 
    box-shadow: 0 0 30px #380c6e, 0 0 60px #3c0d75, 0 0 90px #521997, 0 0 120px #6724b9, 0 0 150px #8639e6;
    transition: all 2s ease;
}
