                <div class="topicos">
                    <div class="cube">
                        <div class="top">
                            <h1>1</h1>
                        </div>
                        <div class="box">
                            <span style="--i:0;"></span>
                            <span style="--i:1;"></span>
                            <span style="--i:2;"></span>
                            <span style="--i:3;"></span>
                        </div>
                    </div>
                    <div class="cube">
                        <div class="top">
                            <h1>2</h1>
                        </div>
                        <div class="box">
                            <h1>B</h1>
                            <span style="--i:0;"></span>
                            <span style="--i:1;"></span>
                            <span style="--i:2;"></span>
                            <span style="--i:3;"></span>
                        </div>
                    </div>
                    <div class="cube">
                        <div class="top">
                            <h1>3</h1>
                        </div>
                        <div class="box">
                            <h1>B</h1>
                            <span style="--i:0;"></span>
                            <span style="--i:1;"></span>
                            <span style="--i:2;"></span>
                            <span style="--i:3;"></span>
                        </div>
                    </div>
                    <div class="cube">
                        <div class="top">
                            <h1>4</h1>
                        </div>
                        <div class="box">
                            <h1>B</h1>
                            <span style="--i:0;"></span>
                            <span style="--i:1;"></span>
                            <span style="--i:2;"></span>
                            <span style="--i:3;"></span>
                        </div>
                    </div>
                </div>  