<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos</title>
    <link rel="stylesheet" href="css/Cursos/apresentacaoCont.css">
    <link rel="stylesheet" href="css/Cursos/asideCont.css">
    <link rel="stylesheet" href="css/Cursos/conteudoCont.css">
    <link rel="stylesheet" href="css/Cursos/moduloCont.css">
    <link rel="stylesheet" href="css/Cursos/recomendacaoCont.css">
</head>
<body>
    <article>
        <div class="apresentacao">
            <h1>Ola, Estudante</h1>
            
            <p>Neste módulo, as crianças vão aprender sobre a importância de proteger suas informações online. Vamos explorar de forma simples e divertida como manter a privacidade, identificar perigos comuns na internet e a importância de criar senhas fortes. Esse é o primeiro passo para que os jovens compreendam o valor da segurança no ambiente digital.</p>
        </div>
        <div class="conteudo">
            <h2>Conteudo</h2>
            <div class="playcurso">
                <button class="curso active" id="cyber">
                    <h1>Cyber Security</h1>
                </button>
                <button class="curso" id="inter">
                    <h1>Internet</h1>
                </button>
                <button class="curso" id="prog">
                    <h1>Programação</h1>
                </button>
                <button class="curso" id="logi">
                    <h1>Logica</h1>
                </button>
            </div>
        </div>
        <div class="recomendacoes">
            <h2>Recomendações</h2>
            <div class="playRecoment">
                <div class="reco">
                    <div class="reco-num">1</div>
                    <div class="reco-text">
                        <h5>Modulo 1</h5>
                        <h6>Lorem ipsum dolor sit</h6>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                        <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393"/>
                    </svg>
                </div>
                <div class="reco">
                    <div class="reco-num">2</div>
                    <div class="reco-text">
                        <h5>Modulo 2</h5>
                        <h6>Lorem ipsum dolor sit</h6>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                        <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393"/>
                    </svg>
                </div>
                <div class="reco">
                    <div class="reco-num">3</div>
                    <div class="reco-text">
                        <h5>Modulo 3</h5>
                        <h6>Lorem ipsum dolor sit</h6>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                        <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393"/>
                    </svg>
                </div>
                <div class="reco">
                    <div class="reco-num">4</div>
                    <div class="reco-text">
                        <h5>Modulo 4</h5>
                        <h6>Lorem ipsum dolor sit</h6>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                        <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393"/>
                    </svg>
                </div>
            </div>
        </div>
        <div class="modulos">
            <h2>Modulos</h2>
            <div class="playmodulo">
                <button class="mod"> 
                    <img src="imgs/CursosPage/modulos/cyber/cyberMod1.png" alt="" id="mod1">
                    <span></span>
                    <h1>Modulo 1</h1>
                    <p class="descMod1">Introdução à Segurança Digital</p>
                    <div class="example1" id="example">cyber</div>
                </button> 
                <button class="mod">
                    <img src="imgs/CursosPage/modulos/cyber/cyberMod2.png" alt="" id="mod2">
                    <span></span>
                    <h1>Modulo 2</h1>
                    <p class="descMod2">Primeiros Passos Seguros</p>
                    <div class="example2" id="example">cyber</div>
                </button>
                <button class="mod">
                    <img src="imgs/CursosPage/modulos/cyber/cyberMod3.png" alt="" id="mod3">
                    <span></span>
                    <h1>Modulo 3</h1>
                    <p class="descMod3">Segurança como Habilidade Essencial</p>
                    <div class="example3" id="example">cyber</div>
                </button>
                <button class="mod">
                    <img src="imgs/CursosPage/modulos/cyber/cyberMod4.png" alt="" id="mod4">
                    <span></span>
                    <h1>Modulo 4</h1>
                    <p class="descMod4">Explorando Tecnologias de Proteção</p>
                    <div class="example4" id="example">cyber</div>
                </button>
            </div>
        </div>
    </article>
    <aside>
        <div class="test">
            <img class="imageModInfo" src="imgs/CursosPage/modulos/cyber/cyberMod1.png" alt="">
            <div class="textoModulo">
                <h1 class="titleModInfo">Descrição</h1>
                <h5 class="subTitleModInfo"></h5>
            </div> 
            <p class="descModInfo">Neste módulo, as crianças vão aprender sobre a importância de proteger suas informações online. Vamos explorar de forma simples e divertida como manter a privacidade, identificar perigos comuns na internet e a importância de criar senhas fortes. Esse é o primeiro passo para que os jovens compreendam o valor da segurança no ambiente digital.</p>
            <div class="linhaMaior"></div>
            <div class="bott">
                <button>Conteudo</button>
                <button>Questoões</button>
            </div>
        </div>
    </aside>

    <script src="js/data.js"></script>
    <script src="js/index.js"></script>
    
</body>
</html>