<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mascotes</title>
    <link rel="stylesheet" href="css/Mascotes/style.css">
    <link rel="stylesheet" href="css/landingpage/styles.css">

</head>
<body>
    
    <div class="container">
        <h1 class="title">
            Escolha qual personagem irá te guiar nessa jornada de aprendizado:
        </h1>

        <div class="card">
            <img src="imgs/mascotes/theo.png" alt="Imagem do Card">
            <button>Theo</button>
        </div>
        <div class="card">
            <img src="imgs/mascotes/luna.png" alt="Imagem do Card">
            <button>Luna</button>
        </div>
        <div class="card">
            <img src="imgs/mascotes/luca.png" alt="Imagem do Card">
            <button>Luca</button>
        </div>
        <div class="card">
            <img src="imgs/mascotes/iris.png" alt="Imagem do Card">
            <button class=".btn-default">Irís</button>
        </div>
    </div>
</body>
</html>
